body { 
    font-family: Georgia; color: #444; 
    
    justify-content: space-between;
}

.mainc{
    border-style:solid;
    align-self: center;
    background-color: aliceblue;
    padding-top: 4em;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:burlywood;
}

.flex-row{
    margin-bottom: 2em; 
    padding-bottom: 2em; 
    border-bottom: 1px solid #ccc;
}